@model Vera.CMS.UI.Public.Models.PageView

@{
    ViewBag.Title = Model.Header;
    Layout = "_Layout";
}
<article>
    <div>
        <div class="mt-5">
            <h1>@Html.Raw(Model.Header)</h1>
        </div>
        <div class="mt-5">
            @{
                if (Model.Content != null)
                {
                    foreach (var block in Model.Content.Blocks)
                    {
                        switch (block.Type)
                        {
                            case "header":
                                switch (block.Data.Level)
                                {
                                    case 2:
                                        <h2>@Html.Raw(block.Data.Text)</h2>
                                        break;
                                    case 3:
                                        <h3>@Html.Raw(block.Data.Text)</h3>
                                        break;
                                    case 4:
                                        <h4>@Html.Raw(block.Data.Text)</h4>
                                        break;
                                }
                                break;
                            case "paragraph":
                                <p>@Html.Raw(block.Data.Text)</p>
                                break;
                            case "list":
                                <ul>
                                    @foreach (var item in block.Data.Items)
                                    {
                                        <li>@item</li>
                                    }
                                </ul>
                                break;
                            case "codeBox":
                                <pre><code class="@block.Data.Language">@Html.Raw(block.Data.Code)</code></pre>
                                break;
                        }
                    }
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Homepage</a>
                </li>
            </ul>
        </div>
    </div>
</article>